<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head', { title: 'Email' }) %>
</head>
<body>
    
    <h2 class="title text-center">Email de verificação enviado para <%= email %></h2>

    <%- include('./partials/footer') %>
    
</body>
</html>