<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head', { title: 'Home' }) %>
</head>
<body>

    <section class="home" id="home">
        <h1 class="title text-center">MVC UTILIZANDO NODE</h1>

        <div class="rotas">
            <ul>
                <li>
                    <p>UTILIZAR ROTA '/cadastro' PARA ACESSAR O FORMULÁRIO: <a href="/cadastro">FORMULÁRIO</a></p>
                </li>
                <li>
                    <p>UTILIZAR ROTA '/dados' PARA VISUALIZAR OS DADOS DO BANCO nodedb: <a href="/Dados">DADOS</a></p>
                </li>
            </ul>
        </div>
    </section>

    <%- include('./partials/footer') %>
    
</body>
</html>