<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <%- include('./partials/head', { title: 'Home' }) %>
</head>
<body>
    
    <h1 class="title text-center">MVC UTILIZANDO NODE</h1>

    <div class="rotas">
        <ul>
            <li>
                <p>UTILIZAR ROTA '/FORM' PARA ACESSAR O FORMULÁRIO: <a href="/form">FORMULÁRIO</a></p>
            </li>
        </ul>
    </div>

    <%- include('./partials/footer') %>
    
</body>
</html>