* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.title {
    margin-top: 20px;
    margin-bottom: 50px;
}

.rotas {
    background-color: rgba(211, 211, 211, 0.5);
    width: 80%;
    padding-block: 20px;
    padding-inline: 30px;
    align-self: center;
    border-radius: 10px;
}

form {
    align-self: center;
    width: 70%;
}

form button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 200px;
}

footer {
    background-color: rgba(0, 0, 0, 1);
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer p {
    padding: 20px;
    color: white;
}